.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  margin: 0 auto;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: $black;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  display: inline-block;
}

.text {
  &--grey {
    color: $grey;
  }

  &--underlined {
    position: relative;

    &::after {
      position: absolute;
      display: block;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 3px;
      background: $primary;
    }
  }
}

.comment {
  color: $grey;
  display: block;
  font-size: 12px;
}

.link {
  -webkit-transition: color .3s ease-out 0s;
  -moz-transition: color .3s ease-out 0s;
  -o-transition: color .3s ease-out 0s;
  transition: color .3s ease-out 0s;

  &:hover {
    text-decoration: underline;
  }

  &--color {
    color: $primary;
  }

  &--inline {
    text-decoration: underline;
  }

  &--block {
    display: block;
  }

  &--disabled {
    color: $grey;

    &:hover {
      color: $grey;
    }
  }

  &--icon {
    font-size: 0;
    display: block;
    width: 20px;
    height: 20px;
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: background-image .8s ease-out 0s;
    -moz-transition: background-image .8s ease-out 0s;
    -o-transition: background-image .8s ease-out 0s;
    transition: background-image .8s ease-out 0s;
  }
}

.btn {
  display: inline-block;
  padding: 8px 14px;
  text-decoration: none;
  border: 1px solid $primary;
  color: $primary;
  font-weight: normal;
  border-radius: 5px;

  -webkit-transition: background .2s ease-out 0s;
  -moz-transition: background .2s ease-out 0s;
  -o-transition: background .2s ease-out 0s;
  transition: background .2s ease-out 0s;

  &:hover,
  &:active,
  &focus {
    border: 1px solid $primary;
    background: $primary;
    color: #fff;
  }

  &--disalbed {
    border: 1px solid $light-grey;
    color: $grey;

    &:hover,
    &:active,
    &focus {
      border: 1px solid $light-grey;
      background: none;
      color: $grey;
    }
  }
}


@media (max-width: 768px) {
  .container {
    margin: 0 20px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1080px;
  }
}
