.content {
  padding: 80px 0;

  img,
  video {
    display: block;
    width: 100%;
  }

  .comment {
    font-size: 15px;
    text-align: center;
    line-height: 1.4;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 36px;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 680px;

    .comment {
      margin-top: 15px;
      text-align: left;
      font-weight: normal;
    }
  }

  &__text {
    position: relative;
    max-width: 680px;
    margin: 0 auto;

    p, li {
      font-size: 18px;
      line-height: 1.6;
      margin: 0;
    }

    p {
      margin: 20px 0;
    }

    li {
      margin-bottom: 10px;
    }

    img,
    video {
      margin-top: 20px;
      margin-bottom: 5px;
    }

    video {
      box-shadow: 0 1px 20px 0 rgba(#001F44, .1);
    }
  }

  &__h2,
  &__h3 {
    font-size: 28px;
    margin: 0;
    padding: 0;
    margin: 60px 0 20px;
  }

  &__h3 {
    font-size: 21px;
  }

  &__pic {
    .img {
      max-width: 780px;
      margin: 0 auto;
      padding: 20px 0;
    }

    &.imperia {
      background: #eaeef1;
    }
    &.rtk {
      background: #413F4A;
    }
    &.trifit {
      background: #7D8086;
    }
    &.speakability {
      background: #f1f1f1;
    }
  }
}

@media (max-width: 768px) {
  .content {
    padding-top: 20px;
    padding-bottom: 20px;

    &__text {
      p, li {
        font-size: 16px;
      }
    }
    &__h2 {
      font-size: 20px;
    }
  }
}
