.content {
  padding: 80px 0;

  &__title {
    font-size: 36px;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 680px;

    .comment {
      font-size: 15px;
      margin-top: 15px;
      line-height: 1.4;
    }
  }

  &__text {
    position: relative;
    max-width: 680px;
    margin: 0 auto;

    p {
      font-size: 18px;
      line-height: 1.6;
      margin: 0;
      margin: 30px 0;
    }
  }

  &__h2 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    margin: 50px 0 20px;
  }

  &__pic {
    max-width: 780px;
    margin: 30px auto;

    img {
      display: block;
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .content {
    padding-top: 20px;
    padding-bottom: 20px;

    &__text {
      p {
        font-size: 16px;
      }
    }
    &__h2 {
      font-size: 20px;
    }
  }
}
