.content {
  padding: 80px 0;

  &__title {
    font-size: 36px;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 680px;

    .comment {
      font-size: 15px;
      margin-top: 15px;
      line-height: 1.4;
    }
  }

  &__text {
    position: relative;
    max-width: 680px;
    margin: 0 auto;

    p, li {
      font-size: 18px;
      line-height: 1.6;
      margin: 0;
    }

    p {
      margin: 25px 0;
    }

    li {
      margin-bottom: 10px;
    }

    img {
      width: 100%;
      margin-top: 25px;
    }

    .comment {
      font-size: 15px;
      text-align: center;
      line-height: 1.4;
      margin-bottom: 25px;
    }
  }

  &__h2,
  &__h3 {
    font-size: 28px;
    margin: 0;
    padding: 0;
    margin: 50px 0 25px;
  }

  &__h3 {
    font-size: 21px;
  }

  &__pic {
    max-width: 780px;
    margin: 25px auto;

    img {
      display: block;
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .content {
    padding-top: 20px;
    padding-bottom: 20px;

    &__text {
      p {
        font-size: 16px;
      }
    }
    &__h2 {
      font-size: 20px;
    }
  }
}
