.header {
  box-sizing: border-box;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  a {
    display: block;
    float: left;
    padding: 20px;
    line-height: 1;
  }

  &__logo {
    flex-grow: 1;
  }

  &__title {
    position: relative;
    padding-left: 40px !important;

    .icon-back {
      position: absolute;
      display: block;
      top: 50%;
      left: 20px;
      width: 7px;
      height: 10px;
      margin-top: -4px;
      background-image: url("../img/icon-back.svg");
      background-position: center;
      background-size: auto 10px;
    }
  }

  &__nav {
    ul>li {
      display: block;
      float: left;
    }

    .link {
      &--icon {
        padding: 10px;
      }
    }
  }

  &__burger {
    display: none;
  }
}

@media (max-width: 768px) {
  .header {
    position: relative;
    min-height: 50px;
    padding: 10px 0;
    flex-direction: column;
    align-items: flex-start;

    &__nav {
      display: none;

      > ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
      }
    }

    &__burger {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 18px;
      height: 24px;
      padding: 25px 30px;
      background-image: url("../img/icon-burger.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 18px 24px;
    }
  }
}
