.header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  a {
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
  }

  &__logo {
    flex-grow: 1;
  }

  &__title {
    font-weight: 300;
    font-size: 14px;
    text-transform: lowercase;
    color: #afafaf;
  }

  &__name {
    color: #191919;
  }
}
