.project {
  display: block;
  float: left;
  text-align: center;
  text-transform: lowercase;
  margin-bottom: 50px;

  img {
    width: 100%;
    height: auto;
  }

  &__title {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    font-size: 14px;
    font-weight: normal;
  }

  &__descr {
    font-size: 12px;
    color: $grey;
  }

  &--active {


    &:hover {
      img {
        box-shadow: 0 10px 25px -10px rgba(#4a5558, .25);
        -webkit-transition: box-shadow .3s ease-out 0s;
        -moz-transition: box-shadow .3s ease-out 0s;
        -o-transition: box-shadow .3s ease-out 0s;
        transition: box-shadow .3s ease-out 0s;
      }
      .project__title {
        color: $primary;
        -webkit-transition: color .3s ease-out 0s;
        -moz-transition: color .3s ease-out 0s;
        -o-transition: color .3s ease-out 0s;
        transition: color .3s ease-out 0s;
      }
    }
  }

  &--disabled {
    .project__title {
      color: $grey;
      font-family: $regular;
    }
  }

}


@media (max-width: 768px) {
  // .project {
  //   width: 100%;
  //
  //   img {
  //     width: 100%;
  //   }
  // }
}

@media (min-width: 768px) {
  .project {
    width: 230px;
    margin-right: 10px;
  }
}

@media (min-width: 992px) {
  .project {
    width: 230px;
    margin-right: 10px;

    &:nth-child(4) {
      margin-right: 0;
    }
  }
}
