.project {
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 120px;

  // &:last-child {
  //   margin-bottom: 0;
  // }

  img {
    width: 100%;
    height: auto;
  }

  &__info {
    display: block;
    float: left;
    max-width: 550px;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
  }

  &__subtitle {
    margin: 0;
    padding: 0;
    margin-top: 4px;
    font-size: 16px;
    line-height: 1.4;
    font-weight: bold;
  }

  p {
    font-size: 16px;
    line-height: 1.6;
    margin: 8px 0;

    &:first-of-type {
      margin-top: 16px;
    }

    &:last-of-type {
      margin-bottom: 28px;
    }
  }


}


@media (max-width: 768px) {
  .project {
    margin-bottom: 70px;

    &__title {
      font-size: 24px;
    }

    &__subtitle {
      font-size: 16px;
    }

    p {
      font-size: 16px;
    }
  }
}

@media (max-width: 992px) {
    .project {
      &__pic {
        display: none;
      }
    }
}

@media (min-width: 992px) {
  .project {
    &__pic {
      display: block;
      float: left;
      width: 320px;
      height: 220px;
      background: $primary;
      margin-right: 60px;
    }

    &__info {

    }
  }
}

@media (min-width: 1200px) {
  .project {
    &__pic {

    }
  }
}
