.content {
  padding: 80px 0; }
  .content img,
  .content video {
    display: block;
    width: 100%; }
  .content .comment {
    font-size: 15px;
    text-align: center;
    line-height: 1.4;
    margin-top: 10px;
    margin-bottom: 20px; }
  .content__title {
    font-size: 36px;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 680px; }
    .content__title .comment {
      margin-top: 15px;
      text-align: left;
      font-weight: normal; }
  .content__text {
    position: relative;
    max-width: 680px;
    margin: 0 auto; }
    .content__text p, .content__text li {
      font-size: 18px;
      line-height: 1.6;
      margin: 0; }
    .content__text p {
      margin: 20px 0; }
    .content__text li {
      margin-bottom: 10px; }
    .content__text img,
    .content__text video {
      margin-top: 20px;
      margin-bottom: 5px; }
    .content__text video {
      -webkit-box-shadow: 0 1px 20px 0 rgba(0, 31, 68, 0.1);
      box-shadow: 0 1px 20px 0 rgba(0, 31, 68, 0.1); }
  .content__h2, .content__h3 {
    font-size: 28px;
    margin: 0;
    padding: 0;
    margin: 60px 0 20px; }
  .content__h3 {
    font-size: 21px; }
  .content__pic .img {
    max-width: 780px;
    margin: 0 auto;
    padding: 20px 0; }
  .content__pic.imperia {
    background: #eaeef1; }
  .content__pic.rtk {
    background: #413F4A; }
  .content__pic.trifit {
    background: #7D8086; }
  .content__pic.speakability {
    background: #f1f1f1; }

@media (max-width: 768px) {
  .content {
    padding-top: 20px;
    padding-bottom: 20px; }
    .content__text p, .content__text li {
      font-size: 16px; }
    .content__h2 {
      font-size: 20px; } }
