.screen {
  min-height: 200px;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .screen.contacts {
    height: 50vh; }
  .screen__title {
    margin: 0;
    padding: 0;
    margin-bottom: 28px;
    font-size: 36px;
    line-height: 1.25;
    max-width: 540px; }
  .screen p {
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    margin-bottom: 12px; }
    .screen p:last-of-type {
      margin-bottom: 0; }

@media (max-width: 768px) {
  .screen.contacts {
    height: 30vh; }
  .screen__title {
    font-size: 28px;
    max-width: 410px; }
  .screen p {
    font-size: 16px; } }

@media (min-width: 768px) {
  .screen p {
    max-width: 620px; } }

@media (min-width: 1200px) {
  .screen__title {
    font-size: 45px;
    max-width: 670px; } }
